# Ignore virtual environments
venv/
.env/

# Ignore node_modules
node_modules/

# Ignore large libraries
backend/venv/lib/python3.11/site-packages/torch/

# Ignore other large files
*.log
*.csv
*.json
*.txt
*.pdf
*.docx